* {
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #ae9cff;
    --bg-container: #785df563;
    --text-color: #ffff;
}
body{
    background-image: url('https://media.istockphoto.com/id/1157432726/photo/texture-of-old-violet-paper-background-closeup-structure-of-dense-cardboard.jpg?s=612x612&w=0&k=20&c=De2vVGl9I3_HjqOOz-5DoKZ_4bUUbK03aBfT44NfzHo=');
    background-size: cover;
}
/* BEGIN: Animated Login Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: fit-content;
    border-radius: 20px;
    background-color: var(--bg-container);
    animation-name: slideIn;
    animation-duration: 1s;
    margin: 15% auto;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 15px;
    width: 35vh;
    background-color: var(--bg-color);
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 30px;
}

h4 a{
    color: white;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
/* END: Animated Login Container */
.input-filed {
    width: 180px;
    margin: 8px;
    padding: 8px;
    border-radius: 10px;
}
