/* Splash Screen Styles */
.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .splash-content {
    text-align: center;
    color: #fff;
  }
  
  .splash-content .logo {
    height: 150px;
  }
  
  /* Hide the main content initially */
  .main-content {
    display: none;
  }
  