* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #ae9cff;
  --bg-container: #fff;
  --text-hover: #333;
  --secondary-color: #8c52ff;
}
body {
  background-color: var(--bg-color);
}

.container {
  background-color: var(--bg-container);
  width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-box input {
  width: 100%;
  position: relative;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--bg-color);
  font-size: 16px;
}

.search-box button {
  padding: 15px 0;
  width: 25%;
  background-color: var(--bg-color);
  border: none;
  outline: none;
  color: var(--bg-container);
  border-radius: 5px;
}

/* -------- Result Section -------- */
.result {
  position: relative;
}

.result h3 {
  font-size: 30px;
  color: #1f194c;
}

.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.result button {
  background-color: transparent;
  color: var(--bg-color);
  border: none;
  outline: none;
  font-size: 18px;
}

.result .details {
  display: flex;
  gap: 10px;
  color: #b3b6d4;
  margin: 5px 0 20px 0;
  font-size: 14px;
}

/* ----- Meaning Section -----  */
.word-meaning {
  color: #575a7b;
}
.word-example {
  color: #575a7b;
  font-style: italic;
  border-left: 5px solid var(--bg-color);
  padding-left: 20px;
  margin-top: 30px;
}

.word-error {
  color: #b83333;
  font-style: italic;
  border-left: 5px solid #b83333;
  padding-left: 20px;
  margin-top: 30px;
}

/* Navigation bar styles */
.navbar {
  margin: 10px auto;
  width: 100%;
  position: fixed;
  color: var(--bg-color);
  z-index: 999;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-container);
}

.navbar-content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content li {
  list-style: none;
}

.navbar-content a {
  text-decoration: none;
  color: var(--bg-color);
  margin: 0 10px;
}

.navbar-content a:hover {
  color: var(--secondary-color);
}

.navbar #logo {
  height: 50px;
  border-radius: 50%;
}

.nav-links li{
  letter-spacing: 3px;
  font-weight:bolder;
  color: var(--secondary-color);
}
.bottom-nav {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-links li{
    display: none;
  }
  .bottom-nav{
    display: block;
  }
  .navbar {
    bottom: 0;
    left: 0;
  }

  .navbar-content {
    margin: 10px;
    background-color: #8c52fffb;
    border-radius: 20px 20px 20px 20px;
    justify-content: space-between;
  }

  .navbar-content ul {
    justify-content: space-evenly;
  }

  .navbar-content a{
    color: aliceblue;
  }

  .navbar-content a:hover {
    color: var(--bg-container);
  }
}
